---
import type {
    Renderer3DQuality,
    Renderer3DRenderMode,
    Renderer3DUseCase,
    Renderer3DViewId,
} from "../lib/renderer3d";

interface Props {
    id: string;
    viewId?: Renderer3DViewId;
    useCase?: Renderer3DUseCase;
    renderMode?: Renderer3DRenderMode;
    quality?: Renderer3DQuality;
    class?: string;
}

const {
    id,
    viewId = "noise3d",
    useCase = "fbm-terrain",
    renderMode = "shaded",
    quality = "detail",
    class: className = "",
} = Astro.props as Props;
---

<div
    class:list={["graph", "curve-view", "renderer3d-view", className]}
    data-renderer3d-root
    data-renderer3d-id={id}
    data-renderer3d-view={viewId}
    data-renderer3d-use-case={useCase}
    data-renderer3d-render-mode={renderMode}
    data-renderer3d-quality={quality}
>
    <canvas class="curve-view-canvas" data-renderer3d-canvas aria-hidden="true"
    ></canvas>
</div>
